<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Push, Push, Push it</title>
</head>
<body>
	<h1>Push, Push, Push it</h1>
	<a href="/Play">
		<button>¡Jugar!</button>
	</a>
</body>
</html>