
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Proyecto de realizacion en diseño web"/>
	<meta name="viewport" content="width=device-width, minimum-scale=1 maximum-scale=1"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link href='image/pow.png' rel='shortcut icon' type='image/png'>
	<title>Push,Push,Push it!</title>
</head>
<body>
<header>
	<h1>
		Push,Push,Push it!
		}
	</h1>
</header>
<section id="contenido">
	<div>
		<a href="/play"><input type="submit" value="Buscar Partida"/></a>
	</div>
</section>
</body>
</html>