<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>¡A jugar!</title>
</head>
<body>
	Waiting for another player
	<script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.js"></script>
	<script>
	  var socket = io();
	</script>
</body>
</html>