<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>¡A jugar!</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header>
		<h1>
			Push,Push,Push it!
		</h1>
	</header>
	<section>
		<div id="uno">
			<div class="contador" id="uno_Number"><p>7</p></div>
		</div>
		<div id="dos">
			<div class="contador" id="dos_Number"><p>7</p></div>
		</div>
	</section>

	<script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.js"></script>
	<script>
	  	var socket = io();
	  	var user;
	  	var vs;

	  	socket.on("User", function (data){
    		user = data;
    		socket.on("start", function (data){
    			vs = 7;
    			
    			socket.on("another_change", function (data){
    				vs += data;
    				if(data == 1)
    				{
    					$('#uno').css({background: "#F44336"});
					    setTimeout(function (){
					    	$('#uno').css({background: "#E57373"});
					    }, 100);
    				}
    				else
    				{
	    				$('#dos').css({background: "#2196F3"});
				    	setTimeout(function (){
					    	$('#dos').css({background: "#64B5F6"});
					    }, 100);
    				}
    				var Vs_now1 = $('#uno_Number p').text();
				    Vs_now1 = parseInt(Vs_now1) + data;
				    $('#uno_Number p').text(Vs_now1);

				    var Vs_now2 = $('#dos_Number p').text();
				    Vs_now2 = parseInt(Vs_now2) - data;
				    $('#dos_Number p').text(Vs_now2);
    				console.log(vs);
    			});

    			socket.on("wins", function (data){
					var pagina="http://localhost:3000/wins/" + data.toString();
					location.href=pagina;
    			});

    			addEventListener('keydown', function (e) {
				    if (e.keyCode == 32)
				    {
				    	if (user == 1)
				    	{
				    		socket.emit("change", 1);
				    	}
				    	else
				    	{
				    		socket.emit("change", -1);
				    	}
				    }
				}, false);

    		});
    	});
	</script>
</body>
</html>