section{
	position: relative;
	width: auto;
	height: 1000px;

}
#uno{
	position: absolute;
	float: left;
	width: 50%;
	height: 100%;
	background: #E57373;
	display: inline-block;
}
#dos{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	background: #64B5F6;
	display: inline-block;
}